form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

form > * {
    color: white;
}

#journalTitle,
#journalTags,
#journalDeadline {
    background-color: transparent;
    border: none;
}

#journalTitle {
    font-size: 2.5rem;
    text-align: center;
}

#journalTags,
#journalDeadline {
    font-size: 1.0rem;
    text-align: center;
}

/* Toggle Side View Button */
#journalSideView {
    width: fit-content;
    align-self: end;
    background-color: #888;
}

/***** Journal Content *****/

#journalContent {
    display: flex;
}

#markdownEditor {
    width: 100%;
}

#textEditor {
    width: 50%;
}