form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

form > * {
    color: white;
}

#journal-title,
#journal-tags,
#journal-deadline {
    background-color: transparent;
    border: none;
}

#journal-title {
    font-size: 2.5rem;
    text-align: center;
}

#journal-tags,
#journal-deadline {
    font-size: 1.0rem;
    text-align: center;
}

/* Toggle Side View Button */
#journal-side-view {
    width: fit-content;
    align-self: end;
    background-color: #888;
}

/***** Journal Content *****/

#journal-content {
    display: flex;
}

#markdown-editor {
    width: 100%;
}

#text-editor {
    width: 50%;
}