*{
    font-family: 'JetBrains Mono', monospace;
    scrollbar-width: none;
}

/* Dummy sidebar */
#sidebar {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00FF00; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2; 
}
#sidebar button {
    margin: 10px 0;
}

/* Container Div for the tree */
#resizable-box {
    height: 100vh;
    width: 15%; /* Adjust based on the remaining space */
    min-width: 0;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 10%; /* Align resizable box to the right of sidebar */
    background-color: lightyellow;
    overflow: hidden;
}

#create-journal {
    background-color: #00FF00;
    position:absolute;
    width: 2em;
    height: 2em;
    right: 0%;
    margin:1em;
}

#journal-view{
    background-color:turquoise;
    height: 100vh;
    right: 0;
    position:absolute;
    left: 25%;
    top: 0;
}

#content {
    height: 99vh;
    padding: .0em;
    overflow: scroll;
    margin-top: 4em;
}

/* Bar to the right of the tree-view. Allows drag to resize */
#resizer {
    width: 0.5em;
    height: inherit;
    background: #000;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#collapse-button, #expand-button {
    position: absolute;
    height: 5em;
    width: 2em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: lightgray;
    border: 0px solid #ccc;
    border-radius: 0.5em;
}

#collapse-button {
    right: 0; /* Makes the button hug the right side of the tree-view */
}

#expand-button {
    left:10%;
    display: none; /* Hides the button initially */
}

.treeElement {
    white-space: nowrap; /* Makes elements not wrap in the tree-view */
    padding-left: 1em; /* Indents each layer (DO NOT USE %) */
}

.folder{
    background-color: bisque;
}

.journalButton {
    background-color: aqua;
}

.parentFolderClosed {
    display:none;
}