body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding-top: 50px;
}

.container {
    width: 600px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #F3E2D5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    padding: 20px;
    margin: 20px;
    position: relative;
    margin-right: auto;
    margin-left: auto;

}

.containerpie {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    margin-left: 65%;

}

.task {
    display: flex;
    align-items: center;
    margin: 35px 0;
    padding: 10px;
}

.task.completed span {
    text-decoration: line-through;
}
