@font-face {
  font-family: "biski";
  src: url(../public/fonts/biskitrialregular-l3jxg.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "biski"; 
  background-color: #FFF5ED;
  color:#594F4F;

}

h1 {
  font-size: 60px;
  text-align: center;
  margin: auto;
}

/*Container for three boxes*/
#container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 90%;
  height: 8 0%;
  margin: auto;
  white-space: nowrap;
}

.orangeBlob{
  top: -15px;
  position: absolute;
  background-color: transparent;
}

.grayBlob {
  position: absolute; 
  background-color: transparent;
  left: 45px;
  bottom: -40px;
}

/* add button*/
.add {
  border: none;
  background-color: #F3E2D5;
  cursor: pointer;
  top: 0px;
  font-size: 30px;
  position: relative;
  font-weight: 600;
}

.column-title {
  font-size: 40px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0;
}

.addColumns {
  background-color: #F3E2D5;
  position: absolute;
  border: none;
  height: auto;
  width: auto;
  right: 20%;
  top: 3%;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  border-radius: 25px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: orange; 
}

p {
  background-color: #F3E2D5;
  margin: 15px;
  border: 1px;
}

button > img,
button > span {
vertical-align: middle;
background-color: #F3E2D5;
}

.inputs {
  margin: 0px 30px 0px 50px;
  width: 90%;
  border:none;
  font-size: 30px;
  background:white;
  line-height:normal;
}

.cat {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 85%;
}

/*x close button for modal box*/
.close {
  background-color: transparent;
  float: right;
  font-size: 50px;
  height: auto;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

/*Add Task Button modal box*/
#taskEnter{
  border: none;
  background-color: #F3E2D5;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  width: 200px;
  height:100px;
  display: block;
  margin: 0 auto;
}

.kanban-column {
  border-radius: 40px;
  padding: 20px;
  background-color: #F3E2D5;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  height: 730px;
  width: 325px;
  position: relative;
}

.kanban-column-header {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
  border-radius: 3px 3px 0 0;
}

.kanban-card-container {
  background-color: transparent;
}

.content {
  width: 320px;
  height: 555px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: transparent;
}

.add-kanban-card-button {
  background-color: #F3E2D5;
  cursor: pointer;
  font-size: 30px;
  position: relative;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.add-kanban-column-button {
  position: absolute;
  background: #F3E2D5;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: auto;
  right: 20%;
  top: 1.5%;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  border-radius: 25px;
}

.task-card {
  font-size:20px;
  width: 240px;
  height: 80px;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 40px;
  border-radius: 80px;
}

.card-title {
  text-align: left;
  position: relative;
  background-color: white;
  margin: 0;
  width: 100px;
}

.task-card-popup {
  width: 60%;
  height: 85%; 
  border: none;
  font-size: 30px;
  border-radius: 75px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background-color: #F3E2D5;
}

.kanban-card-popup-header > h2 {
  background-color: #F3E2D5;
}

.kanban-card-popup-header {
  background-color: #F3E2D5;
}

.kanban-card-popup-body {
  background-color: transparent;
}

.kanban-card-popup-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  background-color: transparent;
}

.kanban-card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  cursor: pointer;
  margin: 0 0 8px 0;
  padding: 10px;
  position: relative;
}

.kanban-card-popup-close-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  float: right;
  font-size: 50px;
  height: auto;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

.card-description {
  text-align: left;
  position: relative;
  background-color: white;
  margin: 0;
  width: 200px;
}

.dueDate {
  position: relative;
  left: 60%;
  text-align: right;
  background-color: transparent;
  width: 100px;
  margin:0;
  border: none;
}

.card-delete-button {
  background-color: transparent;
  font-size: 30px;
  position: absolute;
  left: 195px;
  top: -5px;
  border: none;
  cursor: pointer;
}

.edit {
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
  position: absolute;
  left: 188px;
  bottom: -10px;
  border: none;
}

.pencil {
  background-color: transparent;
}

.card-content {
  position: relative;
  width: 100px;
  height: 80px;
  font-size:20px;
  background: white;
}

label {
  margin: 0;
  background-color: transparent;
}

.kanban-card-popup-save-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  width: 200px;
  height:100px;
  display: block;
  margin: 0 auto;
}

.kanban-column-delete-button {
  border: none;
  position:absolute;
  background-color: transparent;
  font-size: 40px;
  top: 0;
  right: 15px;
}
