@font-face {
    font-family: "biski";
    src: url(fonts\biskitrialregular-l3jxg.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "biski"; 
    background-color: #FFF5ED;
    color:#594F4F;
    
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

/*Container for three boxes*/
.container {
    display: flex;
    justify-content: center;
    width: 1024px;
    height: 768px;
    margin: auto;
}

/*First Planned box*/
.planned {
    text-align: center;
    text-decoration: none;
    background-color: #F3E2D5;
    height: 750px;
    width: 400px;
    border-radius: 40px;
    margin: 50px;
}

.planTask{
    overflow-y: scroll;
    margin: auto;
    background-color: #F3E2D5;
    width: 300px;
    height: 560px;
}

/*Second Working Box*/
.working {
    text-align: center;
    text-decoration: none;
    background-color: #F3E2D5;
    height: 750px;
    width: 400px;
    border-radius: 40px;
    margin: 50px;
}

.workingTask {
    overflow-y: scroll;
    margin: auto;
    background-color: #F3E2D5;
    width: 300px;
    height: 560px;
}

/*Third Done Box*/
.done {
    text-align: center;
    text-decoration: none;
    background-color: #F3E2D5;
    height: 750px;
    width: 400px;
    border-radius: 40px;
    margin: 50px;
}


.doneTask {
    overflow-y: scroll;
    margin: auto;
    background-color: #F3E2D5;
    width: 300px;
    height: 560px;
}

.content {
    background-color: #F3E2D5;
}

/*for shadowroot*/
/*Oval Information*/
.inside {
    font-size:20px;
    flex: 1 1 auto;
    background-color: white;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 240px;
    height: 70px;
    position: absolute;
    border-radius: 60px;
}
/*name & description*/
.inside p {
    text-align: left;
    position: relative;
    background-color: white;
    margin: 0;
    width: 100px;
}

/*due date*/
.inside pre{
    left: 100px;
    position: absolute;
    text-align: right;
    background-color: white;
    width: 100px;
    border: none;
}

/* remove button*/
.remove {
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 13px;
}

/* edit button*/
.edit {
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 13px;
}
/*end shadowroot*/

/*Title*/
.h2color {
    font-size:50px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background: #F3E2D5;
}

/* add button*/
.add {
    border: none;
    background-color: #F3E2D5;
    cursor: pointer;
    top: 0px;
    font-size: 30px;
    position: relative;
    font-weight: 600;
}

p{
    background-color: #F3E2D5;
    margin: 15px;
    border: 1px;
}

button > img,
button > span {
  vertical-align: middle;
  background-color: #F3E2D5;
}

/*Modal Box*/
.modal {
    display: none;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    font-size: 30px;
    text-align: left;
    background: #F3E2D5;
    width: 70%;
    height: 96%; 
    position:absolute;
    border-radius: 60px;
}

.modalContent {
    margin: 20px;
    background: #F3E2D5;
}

.input {
    padding: 20px 30px;
    margin: 10px 30px 10px 30px;
    width: 90%;
    border:none;
    background:white;
    line-height:normal;
}

/*x close button for modal box*/
.close {
    background-color: transparent;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

/*Add Task Button modal box*/
.taskEnter{
    border: none;
    background-color: #F3E2D5;
    cursor: pointer;
    top: 0px;
    font-size: 30px;
    font-weight: 600;
    width: 200px;
    height:100px;
    display: block;
    margin: 0 auto;
}
